# Set default behaviour to not change line endings.
* -text

# Force windows scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.ps1 text eol=crlf
*.psm1 text eol=crlf
*.psd1 text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf
Dockerfile text eol=lf

# .NET development files
*.cs eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.config text eol=crlf
*.resx text eol=crlf

# C and C++ development files
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cxx text eol=lf
*.hxx text eol=lf
*.inl text eol=lf

# Python scripts
*.py text eol=lf
*.pyw text eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.gif binary
*.gz binary
*.zip binary
*.tar binary
*.dll binary
*.exe binary
*.lib binary
*.so binary
*.a binary
*.o binary
*.obj binary
*.pdb binary
*.class binary
*.jar binary
*.bin binary
*.dat binary
