name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: extractions/setup-just@v3

      - name: Build Docker CI image
        run: just build-ci-docker $(id -u)

      - name: Build
        run: just build

      - name: Check
        run: just check-format

      - name: Test
        run: just test Release

